<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="style.css">
    <meta name="theme-color" content="#4CAF50">
    <link rel="manifest" href="manifest.json">
    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("service-worker.js")
                .then(() => console.log("Service Worker registered"))
                .catch(err => console.log("Service Worker registration failed:", err));
        }
    </script>


    <title>Smart Waste Sorting App</title>
</head>
<body>
<header>
    <h1>Smart Waste Sorting</h1>
</header>
<main>
    <section class="upload-section">
        <h2>Upload Your Waste Image</h2>
        <i class="fas fa-upload fa-2x"></i>
        <input type="file" id="file-upload" accept="image/*">
        <button id="upload-button">Upload</button>
    </section>
    <section id="result-section">
        <h2>Result</h2>
        <div id="result"></div>
    </section>
</main>
<footer>
    <p>&copy; 2024 Smart Waste Sorting</p>
</footer>
<script src="script.js"></script>
</body>
</html>
